@import '../../styles/config.scss';

.todos {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    color: $secondary_color;
    padding: 10px 0;
    border-top: 1px solid $primary_color;

    &:last-of-type {
      border-bottom: 1px solid $primary_color;
    }

    &:hover .button--close {
      visibility: visible;
    }

    .button {
      @media (max-width:374px) {
        width: 100%;
      }
    }
  }

  &__checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }

  &__task-text {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;

    &.completed {
      color: $plain_text;
      text-decoration: line-through;
    }
  }

  &__item-edit {
    font-size: 1.5rem;
    width: 100%;
    padding-right: 30px;
  }

  &__update-button {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    transform: translateY(-55%);
    right: 5px;
  }

  &__update-input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
  }
}