$primary_color: crimson;
$secondary_color: black;
$accent_color: #008c7d;
$monochrom: #8c3841;
$plain_text: gray;

$block_shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

$border-style: 2px solid $primary_color;