@import 'fonts.scss';

// Variables
$primary_color: crimson;
$secondary_color: black;
$accent_color: #008c7d;
$monochrom: #8c3841;
$plain_text: gray;

$block_shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

$border-style: 2px solid $primary_color;

// Common styles
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  background-color: $accent_color;
}

.wrapper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

// App styles
.todos {
  background-color: #fff;
  box-shadow: $block_shadow;
  border-radius: 5px;

  &__header {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__title {
    text-align: center;
    font-size: 4rem;
    color: $primary_color;
    margin: 0 0 1rem;
  }

  &__input {
    font-family: 'Montserrat';
    font-size: 2rem;
    color: $primary_color;
    border: $border-style;
    border-radius: 5px;
    padding: 5px 35px;

    &::placeholder {
      color: $plain_text;
    }

    &:focus {
      outline-color: $accent_color;
    }

    &:hover {
      border-color: $secondary_color;
      border-style: dashed;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__counter {
    font-size: 1rem;
    font-weight: 600;
    color: $plain_text;
  }

  &__filters {
    flex-basis: 34%;

    & .horizontal-filters__item:not(:first-of-type) {
      margin-left: 5px;
    }
  }

  &__button {
    display: none;

    &.active {
      display: inline;
    }
  }

  &__main {
    padding: 0 15px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $secondary_color;
    padding: 10px 0;
    border-top: 1px solid $primary_color;

    &:last-of-type {
      border-bottom: 1px solid $primary_color;
    }

    &:hover .close-button {
      visibility: visible;
    }

    &.completed {
      .todos__task-text {
        color: $plain_text;
        text-decoration: line-through;
      }
    }
  }

  &__checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }

  &__close-button {
    visibility: hidden;
    margin-left: auto;
  }

  &__task-text {
    margin: 0;
    padding: 0;
  }
}

.horizontal-filters {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  font-size: 16px;
  border: 1px solid $primary_color;
  background-color: #fff;
  color: $secondary_color;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    border-style: dashed;
    border-color: $secondary_color;
  }

  &:active {
    border-color: $accent_color;
    color: #fff;
    background-color: $accent_color;
  }

  &.active {
    border-color: $monochrom;
    color: #fff;
    background-color: $monochrom;
  }
}

.link-button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $plain_text;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.checkbox {
  appearance: none;
  border: 2px solid $plain_text;
  border-radius: 50%;

  &:checked {
    border-color: $primary_color;
  }

  &:checked+&__label {
    visibility: visible;
  }

  &__label {
    visibility: hidden;
    position: absolute;
    left: 10px;

    &::before {
      content: url('../icons/ok.svg');
    }
  }
}

.close-button {
  font-size: 30px;
  border: none;
  background-color: unset;
  color: $plain_text;
  cursor: pointer;

  &:hover {
    color: red;
  }

  &:after {
    content: "\00d7";
  }
}