@import '../../styles/config.scss';

.todos {
  background-color: #fff;
  box-shadow: $block_shadow;
  border-radius: 5px;

  &__header {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__heading {
    text-align: center;
    margin: 0 0 1rem;
  }

  &__input {
    font-size: 2rem;
    padding: 5px 35px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__counter {
    font-size: 1rem;
    color: $plain_text;
  }

  &__filter {
    flex-basis: 34%;
  }

  &__button {
    display: none;

    &.active {
      display: inline;
    }
  }

  &__main {
    padding: 0 15px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $secondary_color;
    padding: 10px 0;
    border-top: 1px solid $primary_color;

    &:last-of-type {
      border-bottom: 1px solid $primary_color;
    }

    &:hover .button--close {
      visibility: visible;
    }

    &.completed {
      .todos__task-text {
        color: $plain_text;
        text-decoration: line-through;
      }
    }
  }

  &__checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }

  &__close-button {
    visibility: hidden;
    margin-left: auto;
  }

  &__task-text {
    margin: 0;
    padding: 0;
  }
}